<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Conest - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Produtos</h1>
        <form id="frmProduct" class="mt-2 row g-3">
            <!-- Buscar Produto Por Barcode -->
            <div class="col-md-8 mb-3">
                <input type="text" class="form-control form-control-sm" id="searchBarcode" maxlength="30"
                    spellcheck="false" placeholder="Digite ou escaneie o código de barras" autocomplete="off"
                    autocorrect="off" autocapitalize="off">
            </div>

            <div class="col-md-4 mb-3">
                <div class="d-flex align-items-center gap-2">
                    <button type="button" class="btn p-0 border-0 bg-transparent" onclick="buscarProdutoPorBarcode()"
                        title="Buscar por código de barras" data-bs-toggle="tooltip">
                        <img src="../public/img/barcode.png" alt="Ícone de código de barras"
                            class="img-barcode-button hover-effect">
                    </button>
                </div>
            </div>

            <!-- Buscar Produto -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchProduct" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="buscarProduto()">Buscar por
                    Nome</button>
            </div>



            <hr class="mt-1 border border-primary border-1">

            <!-- ID do Produto -->
            <div class="col-md-7" id="idProduct">
                <input class="form-control" type="text" id="inputIdProduct" placeholder="id">
            </div>

            <!-- Nome do Produto -->
            <div class="col-md-7">
                <label for="inputNameProduct" class="form-label">Produto</label>
                <input class="form-control" type="text" id="inputNameProduct" spellcheck="false" maxlength="50"
                    required>
            </div>

            <!-- Barcode do Produto -->
            <div class="col-md-7">
                <label for="inputBarcodeProduct" class="form-label">Código de Barras</label>
                <input class="form-control" type="text" id="inputBarcodeProduct" spellcheck="false" maxlength="15"
                    required>
            </div>

            <!-- Preço do Produto -->
            <div class="col-md-7">
                <label for="inputPriceProduct" class="form-label">Preço</label>
                <input class="form-control" type="text" id="inputPriceProduct" spellcheck="false" maxlength="50">
            </div>

            <!-- Imagem do Produto -->
            <div class="col-md-7">
                <img src="../public/img/camera.png" alt="Imagem" id="productPreview">
                <input type="file" id="imageProduct">
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirProduto()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/css/style.css"></script>
    <script src="produtos.js"></script>
</body>

</html>